@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);
main {
  padding: 50px 100px;
  background-image: url("../img/fondo-pag-speciali.jpg");
  background-repeat: repeat;
  background-size: cover;
}
main h2 {
  margin-top: 10px;
  margin-left: 5px;
  color: #093477;
}
main .cards {
  display: flex;
  flex-wrap: wrap;
}
main .cards .card {
  width: calc(100% / 3 - 10px);
  margin: 5px;
  position: relative;
}
main .cards .card .layover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: 700;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 52, 119, 0.6);
  opacity: 0;
  transition: opacity 0.5s;
}
main .cards .card img {
  width: 100%;
  display: block;
}
main .cards .card:hover .layover {
  opacity: 1;
  cursor: pointer;
}

header {
  text-align: center;
  padding-top: 30px;
}

footer {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  -webkit-text-decoration: black;
          text-decoration: black;
}

.list-inline {
  list-style: none;
}
.list-inline li {
  display: inline-block;
  padding: 20px 10px;
  margin: 0px 10px;
}
.list-inline li.active {
  background-color: #B2E5FC;
}
.list-inline li:hover {
  background-color: white;
}
.list-inline li a {
  color: black;
  font-size: 24px;
  font-weight: 700;
}
